<button [ngClass]="{'btn-info': alert==0, 'btn-warning': alert==1, 'btn-danger': alert == 2, 'btn-success': alert == 3}"
  (click)="cambiar()" 
  class="btn">
  Cambiar Bootstrap Alert
</button>
<br><br>
<div [ngSwitch]="alert">
  <div *ngSwitchCase="'0'" class="alert alert-success">
    <strong>Well done!</strong> You successfully read this important alert message.
  </div>
  <div *ngSwitchCase="'1'" class="alert alert-info">
    <strong>Heads up!</strong> This alert needs your attention.
  </div>
  <div *ngSwitchCase="'2'" class="alert alert-warning">
    <strong>Warning!</strong> Better check yourself, you are not looking too good.
  </div>
  <div *ngSwitchDefault class="alert alert-danger">
    <strong>Oh snap!</strong> Change a few things up and try submitting again.
  </div>
</div>